<div class="row">
  <div class="col-9">
    <div [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode" class="card">
      <div class="card-header font-weight-bold">Members</div>
      <div class="card-body">
        <table [class.table-dark]="globalSettings.darkmode" [class.table-light]="!globalSettings.darkmode"
               class="table table-hover table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members" routerLink="/member/{{member.id}}">
            <td class="align-middle text-center">{{member.id}}</td>
            <td class="align-middle"><span class="font-weight-bold">{{member.name}}</span><br>{{member.address}}</td>
            <td class="align-middle" style="width: 16%">
              <button class="btn btn-block btn-outline-secondary">Lents</button>
            </td>
            <td class="align-middle" style="width: 16%"><a class="btn btn-block btn-outline-secondary"
                                                           routerLink="/member/edit/{{member.id}}">Edit</a></td>
            <td class="align-middle" style="width: 16%">
              <button (click)="removeMember(member.id)" class="btn btn-block btn-outline-danger">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-3">
    <div [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode" class="card">
      <div class="card-header font-weight-bold">Manage members</div>
      <div class="card-body">
        <button class="btn btn-block btn-outline-success">Create new member</button>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
