<div class="row">
  <div class="col-9">
    <div [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode" class="card">
      <div class="card-header font-weight-bold">Inventory</div>
      <div class="card-body">
        <table [class.table-dark]="globalSettings.darkmode" [class.table-light]="!globalSettings.darkmode"
               class="table table-hover table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Member</th>
            <th>Date</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let lent of lents"
              [class.table-danger]="maxDaysOfLent < ((currDate.valueOf() - lent.date) / 86400000).toFixed(0)"
              routerLink="/lent/{{lent.id}}">
            <td class="align-middle text-center"><a>{{lent.id}}</a></td>
            <td class="align-middle">
              <span class="font-weight-bold">{{lent.item.title}}</span><br>{{lent.item.author}}
              <div *ngIf="lent.item.id == -1" class="spinner-border"></div>
            </td>
            <td class="align-middle">
              <span class="font-weight-bold">{{lent.member.name}}</span><br>{{lent.member.address}}
              <div *ngIf="lent.member.id == -1" class="spinner-border"></div>
            </td>
            <td class="align-middle">{{lent.date | date: 'yyyy. MM. dd.'}}
              <br>({{((currDate.valueOf() - lent.date) / 86400000).toFixed(0)}} days ago)
            </td>
            <td class="align-middle">
              <button (click)="lentService.unlent(lent)" *ngIf="lent.status === 'Active'"
                      class="btn btn-block btn-outline-primary">Unlent
              </button>
              <!--              <button class="btn btn-block btn-outline-secondary disabled" *ngIf="lent.status === 'Returned'">Returned</button>-->
              <span *ngIf="lent.status === 'Returned'">Returned</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-3">
    <div [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode" class="card">
      <div class="card-header font-weight-bold">Filter</div>
      <div class="card-body">
        <label for="lentidBox">Lent ID:</label>
        <input (input)="updateFilter()" [(ngModel)]="lentidFilter" class="form-control" id="lentidBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Lent ID"
               type="text"><br/>
        <label for="memberidBox">Member ID:</label>
        <input (input)="updateFilter()" [(ngModel)]="memberidFilter" class="form-control" id="memberidBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Member ID"
               type="text"><br/>
        <label for="itemidBox">Item ID:</label>
        <input (input)="updateFilter()" [(ngModel)]="itemidFilter" class="form-control" id="itemidBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Item ID"
               type="text"><br/>
        <label for="memberBox">Member:</label>
        <input (input)="updateFilter()" [(ngModel)]="memberFilter" class="form-control" id="memberBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Member name"
               type="text"><br/>
        <label for="titleBox">Title:</label>
        <input (input)="updateFilter()" [(ngModel)]="titleFilter" class="form-control" id="titleBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Title"
               type="text"><br/>
        <label for="authorBox">Author:</label>
        <input (input)="updateFilter()" [(ngModel)]="authorFilter" class="form-control" id="authorBox"
               [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode"
               placeholder="Author"
               type="text"><br/>
        <button (click)="changeIntime()" [class.active]="showIntime" [class.btn-outline-danger]="!showIntime"
                [class.btn-outline-success]="showIntime" class="btn btn-block">Show in time
        </button>
        <button (click)="changeLate()" [class.active]="showLate" [class.btn-outline-danger]="!showLate"
                [class.btn-outline-success]="showLate" class="btn btn-block">Show late
        </button>
        <button (click)="changeReturned()" [class.active]="showReturned" [class.btn-outline-danger]="!showReturned"
                [class.btn-outline-success]="showReturned" class="btn btn-block">Show returned
        </button>
        <label for="maxDaysOfLent">Maximum days of lent:</label>
        <input (input)="updateFilter()" [(ngModel)]="maxDaysOfLent" [class.bg-dark]="globalSettings.darkmode"
               [class.text-light]="globalSettings.darkmode"
               id="maxDaysOfLent" type="number">
      </div>
      <div class="card-footer"></div>
    </div>
    <br/>
    <div [class.bg-dark]="globalSettings.darkmode" [class.text-light]="globalSettings.darkmode" class="card">
      <div class="card-header font-weight-bold">Manage lents</div>
      <div class="card-body">
        <button class="btn btn-block btn-outline-success" routerLink="/lent/new">New lent</button>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
